name: CI
on:
  push:
  pull_request:

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        poetry-version: ["1.4"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Setup Poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: ${{ matrix.poetry-version }}
      
      - name: Install Dependencies
        run: poetry install -n --all-extras
      
      - name: Linting and Type checking
        run: |
          poetry run pylint typer_config/
          poetry run mypy typer_config/
      
      - name: Testing and Coverage
        run: |
          poetry run coverage run --source typer_config --branch -m pytest
          poetry run coverage report